#boxes{
    border: 2px black;
}
.Running{
    /* color: green; */
    background-color: #a4de73;
    
}


.Running img{
    /* filter: invert(48%) sepia(13%) saturate(3207%) hue-rotate(130deg) brightness(95%) contrast(60%); */
    /* filter: hue-rotate(130deg) sepia(13%) saturate(3207%)invert(48%); */

    width: 100px;
    height: 100px;
    color: 
    #51544f;
}
.tester{
    /* filter: invert(48%) sepia(13%) saturate(1000%) hue-rotate(18deg) brightness(95%) contrast(60%); */
    /* filter: hue-rotate(130deg) sepia(13%) saturate(3207%)invert(48%); */

    width: 100px;
    height: 100px;
}

.Off {
    /* color: #e65245; */
    background-color: #f65a83;
    
}

.Off img {
    /* filter: invert(48%) sepia(13%) saturate(3207%) hue-rotate(130deg) brightness(95%) contrast(80%); */
    width: 100px;
    height: 100px;
    filter:hue-rotate(0deg);
    color: 
    #51544f;
}

.Display{
    color: 
    #51544f;
    margin:auto;
}


.Night{
    /* background-color: 
    #295a94; */
    background-image: url(../../assets/NightSky.jpg);
    border-bottom: 2px black

}
.Morning{
    
    /* background-color: #5294d5; */
    background-image:  url(../../assets/MorningSky.jpg) ;
    background-repeat: no-repeat;
    background-size: cover;
    border-bottom: 2px black

}

.Midday{
    /* background-color:  */
    /* #62bdff; */
    background-image: url(../../assets/DayTimeSky2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    border-bottom: 2px black

}

.Evening{
    /* background: linear-gradient(0deg, rgba(255,164,189,1) 0%, rgba(246,230,74,1) 100%); */
    background-image: url(../../assets/Sunset.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    border-bottom: 2px black

}

.Winter{
    /* background-color: 
    #d9d9d9; */
    background-image: url(../../assets/WinterGround.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.Spring{
    /* background-color: 
    #73c55a; */
    background-image: url(../../assets/SpringSummerGround.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.Summer{
    /* background-color: 
    #5a9452; */
    background-image: url(../../assets/SpringSummerGround.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.Fall{
    /* background-color: 
    #d1ab59; */
    background-image: url(../../assets/FallGround.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

#border{
    border: 5px black solid;
    
}

.proficiencydiv{
    display: flex}
    
