<app-tod-changer (created)="getTOD($event)"></app-tod-changer>
<div>
  <button (click)="getDemand()">0) and 2) Update Demand</button>
  <p>{{ demand.response.data[0].value * 0.1 }}</p> 
</div>



<!-- listing all our lil plants/outputs -->
<button (click)="getRatio2()">3) Get plants</button>

<button (click)="calculateTotal()">4) Calculate Current Output</button>

<div>
  <p *ngIf="total != 0">{{ total }}</p>

  <p *ngIf="demand.response.data[0].value * 0.1 < total">
    You have saved the city, congratulations!
  </p>
  <p *ngIf="demand.response.data[0].value * 0.1 >= total">
    Millions are without power, fabulous.
  </p>
</div>

<div *ngIf="loaded">
  <div
    id="plant"
    *ngFor="let plant of allPlants"
    [ngClass]="{ Running: plant.powState, Off: !plant.powState }"
  >
  <div id="boxes">
    <!-- <img src="../../assets/LEAF.png" /> -->
    <p>Nameplate: {{ plant.nameplateCapacity }}</p>
    <p>fuel ID: {{ plant.fuelId }}</p>
    <!--  <p>{{plant.powState}}</p>-->
    <p>Net Output: {{ checkPower(plant.id) }} MW</p>
    <button *ngIf="!plant.powState" (click)="togglePower(plant.id)">
      Power On
    </button>
    <button *ngIf="plant.powState" (click)="togglePower(plant.id)">
      Power Off
    </button>
    <button (click)="removePlant(plant.id)">Delete Plant</button>
    
  </div>
    <!-- <p>Actual Output:{{ getNetOutput(plant.fuelId) }}</p> -->
  </div>
</div>
<br />
<!-- <img class="tester" src="../../assets/LEAF.png" /> -->
