<h1 *ngIf="!loggedIn">Please log in to play!</h1>
<div id="border" *ngIf="loggedIn">
  <div
    id="sky"
    class="container sticky-top"
    [ngClass]="{
      Night: TODStatus.time == 'T10',
      Morning: TODStatus.time == 'T14',
      Midday: TODStatus.time == 'T20',
      Evening: TODStatus.time == 'T01'
    }"
  >
    <div class="row">
      <div class="col-12">
        <span>
          <button type="button" class="btn-toggle" (click)="toggleTODMenu()">
            Show Menu
          </button>
          <button type="button" class="btn-toggle" (click)="toggleAddPlant()">
            Add Plant
          </button>
        </span>
        <div *ngIf="showAddPlant">
          <app-create-aplant (created)="newPlantAdmin()"></app-create-aplant>
        </div>
        <div *ngIf="showTODMenu">
          <app-tod-changer (created)="getTOD($event)"></app-tod-changer>
          <!-- <button (click)="getDemand()">0) and 2) Update Demand</button>
          <button (click)="getRatio2()">3) Get plants</button>
          <button (click)="calculateTotal()">
            4) Calculate Current Output
          </button>
          <button (click)="calcProgressBar()">Update Progress Bar</button> -->
        </div>
      </div>
      <div class="row">
        <div class="offset-md-3 col-md-6 col-12">
          <div
            class="card"
            style="
              box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
              text-align: center;
            "
          >
            <p>
              Producing {{ total }}MW of Required
              {{ demand.response.data[0].value * TODStatus.difficulty }} MW
            </p>
            <div class="progress">
              <div
                class="progress-bar bg-success"
                role="progressbar"
                aria-label="nuclear"
                style="width: {{ nuke }}%"
                title="Nuclear {{ nuke }} %"
              ></div>
              <div
                class="progress-bar bg-danger"
                role="progressbar"
                aria-label="natural gas"
                style="width: {{ ng }}%"
                title="Natural Gas {{ ng }} %"
              ></div>
              <div
                class="progress-bar bg-secondary"
                role="progressbar"
                aria-label="coal"
                style="width: {{ coal }}%"
                title="Coal {{ coal }} %"
              ></div>
              <div
                class="progress-bar bg-info"
                role="progressbar"
                aria-label="hydro"
                style="width: {{ hydro }}%"
                title="Hydroelectric {{ hydro }} %"
              ></div>
              <div
                class="progress-bar bg-primary"
                role="progressbar"
                aria-label="wind"
                style="width: {{ wind }}%"
                title="Wind {{ wind }} %"
              ></div>
              <div
                class="progress-bar bg-warning"
                role="progressbar"
                aria-label="solar"
                style="width: {{ sun }}%"
                title="Solar (PV) {{ sun }} % "
              ></div>
            </div>
            <p
              *ngIf="
                demand.response.data[0].value * TODStatus.difficulty < total
              "
            >
              You have successfully powered the region!
            </p>
            <p
              *ngIf="
                demand.response.data[0].value * TODStatus.difficulty >= total
              "
            >
              There is not enough electricity to meet demand. Consider turning
              on or building additional power plants.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div
    id="ground"
    class="container"
    [ngClass]="{
      Winter: TODStatus.season == '2021-02',
      Spring: TODStatus.season == '2021-04',
      Summer: TODStatus.season == '2021-08',
      Fall: TODStatus.season == '2021-10'
    }"
  >
    <div class="row" *ngIf="loaded && TODStatus.difficulty == 0.01">
      <div class="col-md-2 col-sm-6 col-6" *ngFor="let plant of getAllPlants()">
        <div
          class="card mt-3"
          [ngClass]="{ Running: plant.powState, Off: !plant.powState }"
        >
          <div class="card-body">
            <!-- <img src="../../assets/LEAF.png" /> -->
            <button
              type="button"
              class="btn-toggle"
              *ngIf="!plant.powState"
              (click)="togglePower(plant.id)"
            >
              Power On
            </button>
            <button
              type="button"
              class="btn-toggle"
              *ngIf="plant.powState"
              (click)="togglePower(plant.id)"
            >
              Power Off
            </button>
            <p>{{ checkPower(plant.id) }} / {{ plant.nameplateCapacity }} MW</p>
            <!-- <p>fuel ID: {{ plant.fuelId }}</p> -->
            <img
              class="Display"
              *ngIf="plant.fuelId == 1"
              src="../../assets/nuclear.png"
              alt="Nuclear Plant Symbol"
              title="Nuclear Plant Symbol"
            />
            <img
              class="Display"
              *ngIf="plant.fuelId == 2"
              src="../../assets/natural_gas.png"
              alt="Natural Gas Plant Symbol"
              title="Natural Gas Plant Symbol"
            />
            <img
              class="Display"
              *ngIf="plant.fuelId == 3"
              src="../../assets/Coal-power-plant.png"
              alt="Coal Plant Symbol"
              title="Coal Plant Symbol"
            />
            <img
              class="Display"
              *ngIf="plant.fuelId == 5"
              src="../../assets/Hydroelectric-power-plant.png"
              alt="Hydro Plant Symbol"
              title="Hydro Plant Symbol"
            />
            <img
              class="Display"
              *ngIf="plant.fuelId == 6"
              src="../../assets/Wind-power.svg"
              alt="Wind Plant Symbol"
              title="Wind Plant Symbol"
            />
            <img
              class="Display"
              *ngIf="plant.fuelId == 7"
              src="../../assets/Solar-energy.png"
              alt="Solar Plant Symbol"
              title="Solar Plant Symbol"
            />
            <!--  <p>{{plant.powState}}</p>-->

            <button
              type="button"
              class="btn-toggle"
              (click)="removePlant(plant.id)"
            >
              Delete Plant
            </button>
          </div>
        </div>
      </div>
    </div>
    <!-- <p>Actual Output:{{ getNetOutput(plant.fuelId) }}</p> -->

    <!-- This is for medium and hard mode -->
    <div class="row" *ngIf="loaded && TODStatus.difficulty != 0.01">
      <span class="col-4">
        <div class="card bg-success">
          <img
            class="Display"
            src="../../assets/nuclear.png"
            alt="Nuclear Plant Symbol"
            title="Nuclear Plant Symbol"
            style="height: 75px; width: 75px; margin: auto; display: block"
          />
          <span class="col-12" *ngFor="let plant of getPlantsByType(1)">
            <span
              class="card"
              style="margin-left: 10px; margin-right: 10px; margin-top: 3px"
              [ngClass]="{ Running: plant.powState, Off: !plant.powState }"
            >
              <span>
                <span class="card-body">
                  <!-- <img src="../../assets/LEAF.png" /> -->
                  <p>
                    {{ checkPower(plant.id) }} /
                    {{ plant.nameplateCapacity }} MW
                    <button
                      type="button"
                      class="btn-toggle"
                      *ngIf="!plant.powState"
                      (click)="togglePower(plant.id)"
                    >
                      Power On
                    </button>
                    <button
                      type="button"
                      class="btn-toggle"
                      *ngIf="plant.powState"
                      (click)="togglePower(plant.id)"
                    >
                      Power Off
                    </button>

                    <!-- <p>fuel ID: {{ plant.fuelId }}</p> -->

                    <!--  <p>{{plant.powState}}</p>-->

                    <button
                      type="button"
                      class="btn-toggle"
                      (click)="removePlant(plant.id)"
                    >
                      Delete Plant
                    </button>
                  </p>
                </span>
              </span>
            </span>
          </span>
          <!-- <p>Actual Output:{{ getNetOutput(plant.fuelId) }}</p> -->
        </div>
        <!-- <img class="tester" src="../../assets/LEAF.png" /> -->
      </span>
      <span class="col-4">
        <div class="card bg-danger">
          <img
            class="Display"
            src="../../assets/natural_gas.png"
            alt="Natural Gas Plant Symbol"
            title="Natural Gas Plant Symbol"
            style="height: 75px; width: 75px; margin: auto; display: block"
          />
          <span class="col-12" *ngFor="let plant of getPlantsByType(2)">
            <span
              class="card"
              style="margin-left: 10px; margin-right: 10px; margin-top: 3px"
              [ngClass]="{ Running: plant.powState, Off: !plant.powState }"
            >
              <span>
                <span class="card-body">
                  <!-- <img src="../../assets/LEAF.png" /> -->
                  <p>
                    {{ checkPower(plant.id) }} /
                    {{ plant.nameplateCapacity }} MW
                    <button
                      type="button"
                      class="btn-toggle"
                      *ngIf="!plant.powState"
                      (click)="togglePower(plant.id)"
                    >
                      Power On
                    </button>
                    <button
                      type="button"
                      class="btn-toggle"
                      *ngIf="plant.powState"
                      (click)="togglePower(plant.id)"
                    >
                      Power Off
                    </button>

                    <!-- <p>fuel ID: {{ plant.fuelId }}</p> -->

                    <!--  <p>{{plant.powState}}</p>-->

                    <button
                      type="button"
                      class="btn-toggle"
                      (click)="removePlant(plant.id)"
                    >
                      Delete Plant
                    </button>
                  </p>
                </span>
              </span>
            </span>
          </span>
          <!-- <p>Actual Output:{{ getNetOutput(plant.fuelId) }}</p> -->
        </div>
        <!-- <img class="tester" src="../../assets/LEAF.png" /> -->
      </span>
      <span class="col-4">
        <div class="card bg-secondary">
          <img
            class="Display"
            src="../../assets/Coal-power-plant.png"
            alt="Coal Plant Symbol"
            title="Coal Plant Symbol"
            style="height: 75px; width: 75px; margin: auto; display: block"
          />
          <span class="col-12" *ngFor="let plant of getPlantsByType(3)">
            <span
              class="card"
              style="margin-left: 10px; margin-right: 10px; margin-top: 3px"
              [ngClass]="{ Running: plant.powState, Off: !plant.powState }"
            >
              <span>
                <span class="card-body">
                  <!-- <img src="../../assets/LEAF.png" /> -->
                  <p>
                    {{ checkPower(plant.id) }} /
                    {{ plant.nameplateCapacity }} MW
                    <button
                      type="button"
                      class="btn-toggle"
                      *ngIf="!plant.powState"
                      (click)="togglePower(plant.id)"
                    >
                      Power On
                    </button>
                    <button
                      type="button"
                      class="btn-toggle"
                      *ngIf="plant.powState"
                      (click)="togglePower(plant.id)"
                    >
                      Power Off
                    </button>

                    <!-- <p>fuel ID: {{ plant.fuelId }}</p> -->

                    <!--  <p>{{plant.powState}}</p>-->

                    <button
                      type="button"
                      class="btn-toggle"
                      (click)="removePlant(plant.id)"
                    >
                      Delete Plant
                    </button>
                  </p>
                </span>
              </span>
            </span>
          </span>
          <!-- <p>Actual Output:{{ getNetOutput(plant.fuelId) }}</p> -->
        </div>
        <!-- <img class="tester" src="../../assets/LEAF.png" /> -->
      </span>
      <span class="col-4">
        <div class="card bg-info">
          <img
            class="Display"
            src="../../assets/Hydroelectric-power-plant.png"
            alt="Hydro Plant Symbol"
            title="Hydro Plant Symbol"
            style="height: 75px; width: 75px; margin: auto; display: block"
          />
          <span class="col-12" *ngFor="let plant of getPlantsByType(5)">
            <span
              class="card"
              style="margin-left: 10px; margin-right: 10px; margin-top: 3px"
              [ngClass]="{ Running: plant.powState, Off: !plant.powState }"
            >
              <span>
                <span class="card-body">
                  <!-- <img src="../../assets/LEAF.png" /> -->
                  <p>
                    {{ checkPower(plant.id) }} /
                    {{ plant.nameplateCapacity }} MW
                    <button
                      type="button"
                      class="btn-toggle"
                      *ngIf="!plant.powState"
                      (click)="togglePower(plant.id)"
                    >
                      Power On
                    </button>
                    <button
                      type="button"
                      class="btn-toggle"
                      *ngIf="plant.powState"
                      (click)="togglePower(plant.id)"
                    >
                      Power Off
                    </button>

                    <!-- <p>fuel ID: {{ plant.fuelId }}</p> -->

                    <!--  <p>{{plant.powState}}</p>-->

                    <button
                      type="button"
                      class="btn-toggle"
                      (click)="removePlant(plant.id)"
                    >
                      Delete Plant
                    </button>
                  </p>
                </span>
              </span>
            </span>
          </span>
          <!-- <p>Actual Output:{{ getNetOutput(plant.fuelId) }}</p> -->
        </div>
        <!-- <img class="tester" src="../../assets/LEAF.png" /> -->
      </span>
      <span class="col-4">
        <div class="card bg-primary">
          <img
            class="Display"
            src="../../assets/Wind-power.svg"
            alt="Wind Plant Symbol"
            title="Wind Plant Symbol"
            style="height: 75px; width: 75px; margin: auto; display: block"
          />
          <span class="col-12" *ngFor="let plant of getPlantsByType(6)">
            <span
              class="card"
              style="margin-left: 10px; margin-right: 10px; margin-top: 3px"
              [ngClass]="{ Running: plant.powState, Off: !plant.powState }"
            >
              <span>
                <span class="card-body">
                  <!-- <img src="../../assets/LEAF.png" /> -->
                  <p>
                    {{ checkPower(plant.id) }} /
                    {{ plant.nameplateCapacity }} MW
                    <button
                      type="button"
                      class="btn-toggle"
                      *ngIf="!plant.powState"
                      (click)="togglePower(plant.id)"
                    >
                      Power On
                    </button>
                    <button
                      type="button"
                      class="btn-toggle"
                      *ngIf="plant.powState"
                      (click)="togglePower(plant.id)"
                    >
                      Power Off
                    </button>

                    <!-- <p>fuel ID: {{ plant.fuelId }}</p> -->

                    <!--  <p>{{plant.powState}}</p>-->

                    <button
                      type="button"
                      class="btn-toggle"
                      (click)="removePlant(plant.id)"
                    >
                      Delete Plant
                    </button>
                  </p>
                </span>
              </span>
            </span>
          </span>
          <!-- <p>Actual Output:{{ getNetOutput(plant.fuelId) }}</p> -->
        </div>
        <!-- <img class="tester" src="../../assets/LEAF.png" /> -->
      </span>

      <span class="col-4">
        <div class="card bg-warning">
          <img
            class="Display"
            src="../../assets/Solar-energy.png"
            alt="Solar Plant Symbol"
            title="Solar Plant Symbol"
            style="height: 75px; width: 75px; margin: auto; display: block"
          />
          <span class="col-12" *ngFor="let plant of getPlantsByType(7)">
            <span
              class="card"
              style="margin-left: 10px; margin-right: 10px; margin-top: 3px"
              [ngClass]="{ Running: plant.powState, Off: !plant.powState }"
            >
              <span>
                <span class="card-body">
                  <!-- <img src="../../assets/LEAF.png" /> -->
                  <p>
                    {{ checkPower(plant.id) }} /
                    {{ plant.nameplateCapacity }} MW
                    <button
                      type="button"
                      class="btn-toggle"
                      *ngIf="!plant.powState"
                      (click)="togglePower(plant.id)"
                    >
                      Power On
                    </button>
                    <button
                      type="button"
                      class="btn-toggle"
                      *ngIf="plant.powState"
                      (click)="togglePower(plant.id)"
                    >
                      Power Off
                    </button>

                    <!-- <p>fuel ID: {{ plant.fuelId }}</p> -->

                    <!--  <p>{{plant.powState}}</p>-->

                    <button
                      type="button"
                      class="btn-toggle"
                      (click)="removePlant(plant.id)"
                    >
                      Delete Plant
                    </button>
                  </p>
                </span>
              </span>
            </span>
          </span>
          <!-- <p>Actual Output:{{ getNetOutput(plant.fuelId) }}</p> -->
        </div>
        <!-- <img class="tester" src="../../assets/LEAF.png" /> -->
      </span>
    </div>
  </div>
</div>
