<div id="border">
  <div
    id="sky"
    class="container sticky-top"
    [ngClass]="{
      Night: TODStatus.time == 'T10',
      Morning: TODStatus.time == 'T14',
      Midday: TODStatus.time == 'T20',
      Evening: TODStatus.time == 'T01'
    }"
  >
    <div class="row">
      <div class="col-12">
        <span>
          <button (click)="toggleTODMenu()">Show Menu</button>
          <button (click)="toggleAddPlant()">Add Plant</button>
          <button routerLink="/FactsForNerds">Facts for Nerds</button>
          <button routerLink="/LearnPlantInfo">
            How Does Each Plant Produce Energy?
          </button>
        </span>
        <hr />
        <div *ngIf="showAddPlant">
          <app-create-aplant (created)="newPlantAdmin()"></app-create-aplant>
        </div>
        <div class="card" *ngIf="showTODMenu">
          <app-tod-changer (created)="getTOD($event)"></app-tod-changer>
          <!-- <button (click)="getDemand()">0) and 2) Update Demand</button>
          <button (click)="getRatio2()">3) Get plants</button>
          <button (click)="calculateTotal()">
            4) Calculate Current Output
          </button>
          <button (click)="calcProgressBar()">Update Progress Bar</button> -->
        </div>
      </div>

      <div class="container text-center">
        <div class="row">
          <div class="offset-md-3 col-md-6 col-12">
            <div
              class="card"
              style="
                box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
                text-align: center;
              "
            >
              <p>
                Producing {{ total }}MW of Required
                {{ demand.response.data[0].value * TODStatus.difficulty }} MW
              </p>
              <div class="progress">
                <div
                  class="progress-bar"
                  role="progressbar"
                  aria-label="nuclear"
                  style="width: {{ nuke }}%"
                  title="Nuclear"
                ></div>
                <div
                  class="progress-bar bg-danger"
                  role="progressbar"
                  aria-label="natural gas"
                  style="width: {{ ng }}%"
                  title="Natural Gas"
                ></div>
                <div
                  class="progress-bar bg-info"
                  role="progressbar"
                  aria-label="coal"
                  style="width: {{ coal }}%"
                  title="Coal"
                ></div>
                <div
                  class="progress-bar bg-success"
                  role="progressbar"
                  aria-label="hydro"
                  style="width: {{ hydro }}%"
                  title="Hydroelectric"
                ></div>
                <div
                  class="progress-bar bg-warning"
                  role="progressbar"
                  aria-label="wind"
                  style="width: {{ wind }}%"
                  title="Wind"
                ></div>
                <div
                  class="progress-bar bg-secondary"
                  role="progressbar"
                  aria-label="solar"
                  style="width: {{ sun }}%"
                  title="Solar (PV)"
                ></div>
              </div>
              <p
                *ngIf="
                  demand.response.data[0].value * TODStatus.difficulty < total
                "
              >
                You have successfully powered the region!
              </p>
              <p
                *ngIf="
                  demand.response.data[0].value * TODStatus.difficulty >= total
                "
              >
                There is not enough electricity to meet demand. Consider turning
                on or building additional power plants.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div
    id="ground"
    class="container"
    [ngClass]="{
      Winter: TODStatus.season == '2021-02',
      Spring: TODStatus.season == '2021-04',
      Summer: TODStatus.season == '2021-08',
      Fall: TODStatus.season == '2021-10'
    }"
  >
    <div class="row" *ngIf="loaded">
      <div class="col-md-2 col-sm-6 col-6" *ngFor="let plant of getAllPlants()">
        <!-- [ngClass]="{ Running: plant.powState, Off: !plant.powState }" -->
        <div
          class="card mt-3"
          [ngClass]="{ Running: plant.powState, Off: !plant.powState }"
        >
          <div class="card-body">
            <!-- <img src="../../assets/LEAF.png" /> -->
            <button *ngIf="!plant.powState" (click)="togglePower(plant.id)">
              Power On
            </button>
            <button *ngIf="plant.powState" (click)="togglePower(plant.id)">
              Power Off
            </button>
            <p>{{ checkPower(plant.id) }} / {{ plant.nameplateCapacity }} MW</p>
            <!-- <p>fuel ID: {{ plant.fuelId }}</p> -->
            <img
              class="Display"
              *ngIf="plant.fuelId == 1"
              src="../../assets/nuclear.png"
            />
            <img
              class="Display"
              *ngIf="plant.fuelId == 2"
              src="../../assets/natural_gas.png"
            />
            <img
              class="Display"
              *ngIf="plant.fuelId == 3"
              src="../../assets/Coal-power-plant.png"
            />
            <img
              class="Display"
              *ngIf="plant.fuelId == 5"
              src="../../assets/Hydroelectric-power-plant.png"
            />
            <img
              class="Display"
              *ngIf="plant.fuelId == 6"
              src="../../assets/Wind-power.svg"
            />
            <img
              class="Display"
              *ngIf="plant.fuelId == 7"
              src="../../assets/Solar-energy.png"
            />
            <!--  <p>{{plant.powState}}</p>-->

            <button (click)="removePlant(plant.id)">Delete Plant</button>
          </div>
        </div>
      </div>
    </div>
    <!-- <p>Actual Output:{{ getNetOutput(plant.fuelId) }}</p> -->
  </div>
  <!-- <img class="tester" src="../../assets/LEAF.png" /> -->
</div>
