<app-tod-changer (created)="getTOD($event)"></app-tod-changer>

<!-- <div *ngFor="let result of demand.response.data">
  <p>DEMAND = {{ result.value }} MWh</p>
</div> -->
<!-- <div>
  <p>Actual Capacity = {{ Atotal }}</p>
  <p>Best Possible Capacity = {{ Ntotal }}</p>
  <p>Capacity Multiplier = {{ Atotal / Ntotal }}</p>
</div> --> 

<button (click)="getRatio2()">Update ratios</button>
<button (click)="holyFuck()">Find net capacities </button>

<div *ngFor="let plant of allPlants" >
  <p >Nameplate: {{ plant.nameplateCapacity }}</p>
  <p> Plant ID {{plant.id}}</p>
  <p>Net output:</p>
  <!-- <p>Actual Output:{{ getNetOutput(plant.fuelId) }}</p> -->
  
    <div *ngIf="plant.powState==true; else elseBlock"><button (click)="togglePower(plant.id)">Turn off Power Plant</button></div>
    <ng-template #elseBlock><button (click)="togglePower(plant.id)">Turn On Power Plant</button></ng-template>
    
</div>
